.filters ul{
    display: flex;
    flex-wrap:wrap;
    gap:.5rem;
    /* justify-content: center; */
    padding: 3vh 0;
}
.filters li{
    padding: 0 4px;
}

.filters button{
    padding: 8px 16px;
    border: 1px solid gray;
    background: hsl(0 1.49% 10%);
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
}

