.hamburgerBtn{
    position: fixed;
    z-index: 20;
    outline: none;
    top: 80px;
    right: 80px;
    background-color: transparent;
    outline: none;
    border: none;
}

.hamburgerBtn svg{
    height: 1.8rem;
    width: 4rem; 
}

.hamburgerBtn svg path{
    stroke-width: 1.5;
}

@media (max-width: 767px) {
    .hamburgerBtn{
        top: 40px;
        right: 20px;
    }
}